
@{
    ViewBag.Title = "ViewCultura";
}

<h2>CULTURA</h2>

<p>
    @Html.ActionLink("Categorias Culturales", "Index", "tbl_categoria_cultura")
</p>

<p>
    @Html.ActionLink("Categorias Usuarios", "Index", "tbl_categoria")
</p>

<p>
    @Html.ActionLink("Responsable de las Categorias Usuarios", "Index", "responsable_categoria")
</p>


