@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienestar Universitario FUNLAM</h1>
    <p class="lead">Recreación, cultura, pastoral y salud.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Recreación", "Index", "Recreacion/ViewRecreacion")</h2>
        <p>
            y deportes...
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Cultura", "Index", "Cultura/ViewCultura")</h2>
        <p>
            y arte...
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Pastoral", "Index", "Pastoral/ViewPastoral")</h2>
        <p>
            y capellanía...
        </p>
    </div>
</div>

<HR align="CENTER" size="2" width="1150" color="Gray" noshade>

   <DIV ALIGN=center>

Martha Elena Palacio Roldán. Directora - mpalacio@funlam.edu.co  |  Mayra Vanessa Rodríguez Ramírez. Secretaria - bienestar@funlam.edu.co
Tel.: +57 (4)4487666 - Ext.: 9542
Fundación Universitaria Luis Amigó Transversal 51A #67B 90 Medellín - Colombia.
Teléfono +57 (4)4487666 - Fax +57 (4)3849797 También en: | Apartadó | Bogotá | Cali | Manizales | Montería |
   
 </DIV>